* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  color: $green;

  &:hover {
    color: darken($green, 15%);
    text-decoration: underline;
  }
}


